
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

 
  
  .bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    
  }
  
form {
    font: "Bungee Inline", sans-serif;
    display: flex;
    color: rgb(238, 237, 237);
    align-items: center; 
    justify-content: center; 
    flex: content;

    flex-direction: column;

    
}

/*thead {
  display: flex;
 margin: 5;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ec0707;
  border-radius: 5px;
  align-items: center; 
  justify-content: center; 


}
*/


body{
    display: flex;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: #b525e0;
    font-family: "Bungee Inline", sans-serif;
    align-items: center; 
    justify-content: center; 
    flex-direction: column ;
}



textarea[name]:name { color: #2c2222;
}

.Titulo{
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 30px;
  animation: bounce 2s infinite alternate;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;

     }

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black;
  
}

input[type="number"]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black;
}


input[type="url" ]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black
}


input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black
}

input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black
}

input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black
  
  
}

p{  
font-size: 20px;
display:flex;
padding: 10px;
margin-bottom: 10px;

border-radius: 5px;

}

a{
  display:flex;
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 5px;

  justify-content: center;
  flex: auto;
  align-items:center;
  


}

.VOLVER{
  display:flex; 
  border: 1px solid hsl(0, 33%, 92%);
  border-radius: 5px;
  background-color: rgb(212, 55, 233);
 

  justify-content: center;
  flex: auto;
  align-items:center;
}    
.LOVE {

  margin: 10px;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;


}

.CANT {
  color: hsl(0, 0%, 100%);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.RING {
  color: hsl(0, 0%, 100%);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Foto {
  display: flex;
  justify-content: center;


}


img {

    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;


}


input [type="email"] { 
   color: rgb(206, 55, 55); 
   }





.table-container {
  width: 80%;
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(15, 3, 3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(223, 53, 53, 0.1);
}



th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #d81ee979;
  color: rgb(236, 213, 232);
  font-size: medium;
  font-style: normal;


}

tr:hover {
  background-color: #e9060681;
  color: rgb(1, 1, 12);
}

nav {
  width: 100%;
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
